# Laravel
/api/vendor/
/api/node_modules/
/api/public/hot
/api/public/storage
/api/storage/*.key
/api/.env
/api/.env.backup
/api/.env.production
/api/.phpunit.result.cache
/api/Homestead.json
/api/Homestead.yaml
/api/auth.json
/api/npm-debug.log
/api/yarn-error.log
/api/.fleet
/api/.idea
/api/.vscode

# Vite
/api/public/build/

# ServerBond
config/.mysql_root_password
config/.api_secret
sites/
backups/
logs/

# OS
.DS_Store
Thumbs.db

# Temporary
*.log
*.tmp
*.swp
*~
